@model armadieti2.Models.UtenteModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UtenteModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cognome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cognome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMonitor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMonitor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoUtenteModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoUtenteModel.TipoUtente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DipartimentoModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DipartimentoModel.NomeDipartimento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdUtente">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
