@model IEnumerable<armadieti2.Models.Mobilio>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdlocationNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumerochiaveNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatomobilioNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipomobilioNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdlocationNavigation.Idlocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumerochiaveNavigation.Numerochiave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatomobilioNavigation.Statomobilio1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipomobilioNavigation.Tipomobilio1)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idmobilio">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idmobilio">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idmobilio">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
