@model armadieti2.Models.Movimento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movimento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cauzione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cauzione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data) <i class="fa-regular fa-calendar-xmark"></i>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            Numero Noleggio
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdnoleggioNavigation.Idnoleggio)
        </dd>
        <dt class = "col-sm-2">
            Tipo di Pagamento
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PagamentoNavigation.Pagamento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idmovimento">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
