@model IEnumerable<armadieti2.Models.Movimento>

@{
    ViewData["Title"] = "Movimento";
    var idNoleggio = ViewBag.Idnoleggio;
}

<h1>Movimentos</h1>

<p>
    <a asp-action="Create" asp-route-id="@idNoleggio" class="btn btn-primary">Aggiungere movimento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cauzione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data) <i class="fa-regular fa-calendar-xmark"></i>
            </th>
            <th>
                ID noleggio
            </th>
            <th>
               Tipo di pagamento
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cauzione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdnoleggioNavigation.Idnoleggio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PagamentoNavigation.Pagamento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idmovimento">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idmovimento">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idmovimento">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
