@model armadieti2.Models.ChiaveModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ChiaveModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArmadioModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArmadioModel.IdArmadio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatoChiaveModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatoChiaveModel.StatoChiave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataModifica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataModifica)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdChiave">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
