@model IEnumerable<armadieti2.Models.ChiaveModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArmadioModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatoChiaveModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataModifica)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArmadioModel.Piano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatoChiaveModel.StatoChiave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataModifica)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdChiave">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdChiave">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdChiave">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
