@model armadieti2.Models.Noleggio

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Noleggio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datainizio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datainizio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datafine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datafine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatoAttivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatoAttivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdmobilioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdmobilioNavigation.Idmobilio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdpersonaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdpersonaNavigation.Cognome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idnoleggio" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="nav-link text-white" asp-controller="Noleggios" asp-action="Scorta"> Tornare in gestione</a>
    </form>
</div>
