@model armadieti2.Models.Noleggio

@{
    ViewData["Title"] = "Noleggio";
}


<div>
    <h4>Noleggio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datainizio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datainizio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datafine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datafine)
        </dd>
        <dt class = "col-sm-2">
            Stato
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatoAttivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdmobilioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdmobilioNavigation.Idmobilio)
        </dd>
        <dt class = "col-sm-2">
            Persona
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => (model.IdpersonaNavigation.Cognome))
            @Html.DisplayFor(model => (model.IdpersonaNavigation.Nome))
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idnoleggio">Edit</a> |
    <a class="nav-link text-white" asp-controller="Noleggios" asp-action="Scorta"> Tornare in gestione</a>
</div>
