@model IEnumerable<armadieti2.Models.NoleggioModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Noleggi Aperti</h1>

<p>
    <a asp-action="Create">Nuovo Noleggio</a>
</p> 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataInizio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFine)
            </th>
            <th>
                Tipo di Pagamento
            </th>
            <th>
               Cauzione
            </th>
            <th>
                Armadio
            </th>
            <th>
                STATO CHIAVE
            </th>
            <th>
                Utente
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataInizio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoPagamentoModel.Pagamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cauzione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArmadioModel.IdArmadio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChiaveModel.StatoChiaveModel.StatoChiave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UtenteModel.Cognome )
                @Html.DisplayFor(modelItem => item.UtenteModel.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdNoleggio">Modifica</a> |
                <a asp-action="Details" asp-route-id="@item.IdNoleggio">Dettagli</a> |
                <a asp-action="Delete" asp-route-id="@item.IdNoleggio">Cancellare</a>
            </td>
        </tr>
}
    </tbody>
</table>
