@model IEnumerable<armadieti2.Models.Noleggio>

@{
    ViewData["Title"] = "Index";
}

<<<<<<< HEAD
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
=======
<h1>NOLEGGIOS</h1>

<p>
    <a asp-action="Create">AGGIUNGERE NOLEGGIO</a>
>>>>>>> 2036f1c701d93c19b379b0a54ff893de8c5f3de4
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Datainizio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datafine)
            </th>
            <th>
<<<<<<< HEAD
                @Html.DisplayNameFor(model => model.Attivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdmobilioNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdpersonaNavigation)
=======
                @Html.DisplayNameFor(model => model.TipoPagamentoModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cauzione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArmadioModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UtenteModel)
>>>>>>> 2036f1c701d93c19b379b0a54ff893de8c5f3de4
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Datainizio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datafine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdmobilioNavigation.Idmobilio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdpersonaNavigation.Idpersona)
            </td>
            <td>
<<<<<<< HEAD
                <a asp-action="Edit" asp-route-id="@item.Idnoleggio">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idnoleggio">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idnoleggio">Delete</a>
=======
                @Html.DisplayFor(modelItem => item.UtenteModel.Cognome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdNoleggio">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdNoleggio">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdNoleggio">Delete</a>
>>>>>>> 2036f1c701d93c19b379b0a54ff893de8c5f3de4
            </td>
        </tr>
}
    </tbody>
</table>
