@model IEnumerable<armadieti2.Models.Noleggio>

@{
    ViewData["Title"] = "Index";
}

<h1>Noleggios</h1>

<p>
    <a asp-action="Create">Aggiungere noleggio</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Movimenti
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datainizio) <i class="fa-solid fa-calendar-days"></i>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datafine) <i class="fa-regular fa-calendar-xmark"></i>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatoAttivo)
            </th>
            <th>
                Movilio
            </th>
            <th>
                Persona
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-controller="movimentos" asp-action="movimento" asp-route-id="@item.Idnoleggio">
                        <i class="fa fa-solid fa-list-check"></i>
                    </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datainizio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datafine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatoAttivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdmobilioNavigation.Numero)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.IdpersonaNavigation.Cognome) @Html.DisplayFor(modelItem => item.IdpersonaNavigation.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idnoleggio">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idnoleggio">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idnoleggio">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
