@model IEnumerable<armadieti2.Models.MobilioConNoleggioView>
@{
    ViewData["Title"] = "Scorta";

    // function to select colors of the cells
    string GetBoxClass(string stato)
    {
        return stato switch
        {
            "Disponibile" => "bg-success text-white",
            "In uso" => "bg-warning text-dark",
            "In manutenzione" => "bg-danger text-white",
            _ => "bg-secondary text-white"
        };
    }
}

<h1>Mobili per Stabile</h1>

<p>
    <span class="text-success ">DISPONIBILE</span> <span class="bg-success">  </span> |
    <span class="text-warning "> NON DISPONIBILE</span> <span class="bg-warning">  </span>
</p>

@foreach (var stabileGroup in Model.GroupBy(m => m.Mobilio.IdlocationNavigation.Stabile))
{
    <h3 class="mt-4">@stabileGroup.Key</h3>

    @foreach (var pianoGroup in stabileGroup.GroupBy(m => m.Mobilio.IdlocationNavigation.Piano))
    {
        <h5 class="mt-3">Piano: @pianoGroup.Key</h5>
        <div class="d-flex flex-wrap gap-2">
            @foreach (var item in pianoGroup)
            {
                var boxClass = GetBoxClass(item.Mobilio.StatomobilioNavigation.Statomobilio1);

                
                    @if (item.Mobilio.Statomobilio == 1) // available
                    {
                    <a asp-action="Create" asp-controller="Noleggios" asp-route-id="@item.Mobilio.Idmobilio" class=" text-decoration-none text-white">

                        <div class="p-3 border rounded text-center @boxClass" style="width: 80px;">
                            <strong>@item.Mobilio.Numero</strong>
                        </div>
                        </a>
                    }
                    else if (item.NoleggioAttivoId != null)
                    {
                        <a asp-action="Edit" asp-controller="Noleggios" asp-route-id="@item.NoleggioAttivoId" class="text-decoration-none text-white">
                        <div class="p-3 border rounded text-center @boxClass" style="width: 80px;">
                            <i class="fa-solid fa-file-pen"></i> <strong>@item.Mobilio.Numero</strong>
                        </div>

                        </a>
                    }
                    else
                    {
                    <div class="p-3 border rounded text-center @boxClass" style="width: 80px;">
                        <div><strong>@item.Mobilio.Numero</strong></div>
                    </div>

                    }
                
            }
        </div>
    }
}
