@model armadieti2.Models.NoleggioModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NoleggioModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInizio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInizio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoPagamentoModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoPagamentoModel.Pagamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cauzione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cauzione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArmadioModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArmadioModel.Piano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChiaveModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChiaveModel.IdChiave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UtenteModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UtenteModel.Cognome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdNoleggio">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
